@model SurveyProject.tblSupport

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SupportID)

    <div class="card">
        <div class="header">
            <h2>Edit</h2>
        </div>
        <div class="body clearfix">
            <div class="col-lg-12">





                <!--Support Number-->
                <div class="form-group">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label>Support Number</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="form-line">
                            @Html.EditorFor(model => model.SupportNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SupportNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <!--Support Email-->
                <div class="form-group">
                   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                       <label>Support Email</label>
                   </div>
                   <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                       <div class="form-line">
                           @Html.EditorFor(model => model.SupportEmail, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.SupportEmail, "", new { @class = "text-danger" })
                       </div>
                   </div>
                </div>


                <!--Support Address-->
                <div class="form-group">
                   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                       <label>Support Address</label>
                   </div>
                   <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                       <div class="form-line">
                           @Html.EditorFor(model => model.SupportAddress, new { htmlAttributes = new { @class = "form-control" } })
                           @Html.ValidationMessageFor(model => model.SupportAddress, "", new { @class = "text-danger" })
                       </div>
                   </div>
                </div>


                <!--Support Person-->
                <div class="form-group">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label>Support person</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="form-line">
                            @Html.EditorFor(model => model.SupportPerson, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SupportPerson, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                

                <div class="form-group">
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        <input type="submit" value="Save" class="btn btn-block bg-white col-black waves-effect" />
                        </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-block bg-blue waves-effect" })
                    </div>
                </div>


            </div>
        </div>
    </div>





}


